.wrapper {
  display: flex;
  flex-direction: column;
  min-width: 500px;
  max-width: 500px;
  border: 1px solid var(--color-black);
}

.head {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--color-black);
}

.cell {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
  padding: 5px;
  border-left: 1px solid var(--color-black);
}

.cell:first-child {
  border-left: none;
}

.row {
  display: flex;
  flex-direction: row;
}
